.header
    @apply py-4
    @apply shadow-navi
    @apply bg-white
    position: fixed
    top: 0
    width: 100vw
    z-index: 200
    .headerContainer
        @apply max-w-[1080px] mx-auto
        @apply flex justify-between items-center
        
        @media (max-width: 1100px)
            @apply max-w-[768px]

        @media (max-width: 768px)
            @apply max-w-[325px]

        .logo_container
            @apply w-8
            .logo
                @apply w-full h-full object-fill
                
        .navi
            @apply flex gap-8 items-center
            .navItem
                @apply text-xs