.bottomNav
    @apply py-4
    @apply shadow-navi
    @apply bg-white
    position: fixed
    bottom: 0    
    width: 100vw
    z-index: 200
    .bottomNavContainer
        @apply max-w-[1080px] mx-auto
        @apply flex justify-between items-center

        @media (max-width: 1100px)
            @apply max-w-[768px]

        @media (max-width: 768px)
            @apply max-w-[325px]

        .navi
            @apply flex gap-8 justify-between w-full items-center
            .navItem
                @apply text-xs