.bottomNav
    @apply flex justify-between p-8 py-4
    @apply shadow-navi
    @apply bg-white
    position: fixed
    bottom: 0    
    width: 100vw
    
    .navi
        @apply flex gap-8 justify-between w-full
        .navItem
            @apply text-xs